<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.b2c.user.dao.UserDao">
    <!--添加用户-->
    <insert id="insertUser" parameterType="com.b2c.domain.user.User" keyProperty="id">
        <selectKey keyProperty="id" resultType="String" order="BEFORE">
        select UUID()
    </selectKey>
        insert into `user`(id,username,password,user_number,login_ip)values(#{id},#{userName},
       MD5(#{password}),
        #{userNumber},#{loginIP});
    </insert>

    <!--根据userId获取用户信息-->
    <select id="getUserById" parameterType="java.lang.String" resultType="com.b2c.domain.user.User">
        select id,username,`gender`,user_number,nickname,birthday,
                phone,email,user_type,login_ip,province_id,
                city_id,district_id,`status`,login_date,update_date,create_date
         from
                `user`
        where
                id=#{id}
    </select>    <!--根据userId获取用户信息-->
    <select id="getUserByName" parameterType="string" resultType="com.b2c.domain.user.User">
        select id,username,gender,user_number,nickname,birthday,phone,email,user_type,login_ip,province_id,
         city_id,district_id,status,login_date,updateDate,createDate
         from `user`
        where userName like CONCAT('%',#{userName},'%' )
    </select>

    <!--修改用户密码-->
    <update id="updatePasswordByUserId" parameterType="java.util.HashMap">
      update `user` set `password`=#{password} where id=#{id}
    </update>

    <update id="updateUserById"  parameterType="com.b2c.domain.user.User">
        update `user` set gender=#{gender},nickName=#{nickName},email=#{email},login_ip=#{loginIp}
        where
        id=#{user.id}
    </update>


    <select id="getUserCountByUserName" resultType="Integer" parameterType="String">
        select count(1) as `count` from `user` where userName=#{userName}

    </select>

    <select id="login" resultType="com.b2c.domain.user.User" parameterType="String">
        select id,userName,password,nickName,login_date from `user` where userName=#{userName}
    </select>

</mapper>