<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.b2c.goods.dao.FrontCategoryDao">

    <insert id="addFrontCategory" parameterType="com.b2c.domain.base.FrontCategory">
      <selectKey keyProperty="id" resultType="string" order="BEFORE">

          select UUID()
      </selectKey>
      insert into front_category(id,`name`,code,parent_id,`level`)VALUES (#{id},#{name},#{code},#{parentId},#{level})
    </insert>

    <update id="updateFrontCategory" parameterType="com.b2c.domain.base.FrontCategory">
      update front_category set name=#{name},level=#{level},code=#{code},parent_id=#{parentId},`status` =#{status} where id=#{id}
    </update>

    <update id="deleteFrontCategoryById" parameterType="java.lang.String">
        update front_category set status= 0 where id=#{id}
    </update>

    <select id="getFrontCategory" parameterType="java.lang.String" resultType="com.b2c.domain.base.FrontCategory" >
        select * from front_category
        <if test="_parameter!= null and _parameter!= ''">
         where `name` like CONCAT('%',#{name},'%' )
        </if>
    </select>

    <select id="getCountByName" parameterType="java.lang.String" resultType="integer">
      select count(1) from front_category where name =#{name} and `status` = 1
    </select>

</mapper>